@import "tailwindcss";

@keyframes floatReaction {
  0% {
    opacity: 0;
    transform: translate(-50%, 20px) scale(0.6);
  }
  20% {
    opacity: 1;
    transform: translate(-50%, -20px) scale(1.2);
  }
  80% {
    opacity: 0.9;
    transform: translate(-50%, -80px) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -130px) scale(0.8);
  }
}
